.form-group {
    margin-bottom: 20px; /* Adds space between questions */
}

.radio-group label {
  margin-right: 20px; /* Adjust the value as needed */
}

select#question-type option[value="open-ended"] {
    color: blue;
  }
  
  select#question-type option[value="multiple-choice"] {
    color: blue;
  }
  
  select#question-type option[value="single-choice"] {
    color: blue;
  }
