<div class="main-container">
  <app-navbar></app-navbar>
  <form (ngSubmit)="onSubmit()" #surveyForm="ngForm" style="margin-top:40px;">
    <h2>Survey Form</h2>
    <div class="row" style="margin-bottom:30px;">
      <label for="name">Name</label>
      <div class="col-6 col-form-label">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
      </div>
      <div class="col-6 col-form-label">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
      </div>
    </div>
    <!-- Date Range Picker -->
    <div class="form-group">
      <label class="col-2 col-form-label" for="startDate">Start Date:</label>
      <mat-form-field appearance="fill">
        <input matInput [matDatepicker]="startPicker" id="startDate" name="startDate" ngModel required (dateChange)="validateDates(surveyForm)">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label class="col-2 col-form-label" for="endDate">End Date:</label>
      <mat-form-field appearance="fill">
        <input matInput [matDatepicker]="endPicker" id="endDate" name="endDate" ngModel required (dateChange)="validateDates(surveyForm)">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-group publish-group">
      <label class="col-2 col-form-label" for="defaultCheck">
        Publish
      </label>
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck">
    </div>
    <div class="form-group" style="display: flex; margin-top: 10px;">
      <label class="col-2 col-form-label" for="questionType">Question Type:</label>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="margin-bottom: 20px;">
          Select Question Type
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#" (click)="onOptionChange($event, 'Single Choice')">Single Choice</a></li>
          <li><a class="dropdown-item" href="#" (click)="onOptionChange($event, 'Multiple Choice')">Multiple Choice</a></li>
          <li><a class="dropdown-item" href="#" (click)="onOptionChange($event, 'Open-ended')">Open-ended</a></li>
        </ul>
      </div>
    </div>

    <div *ngFor="let questionType of selectedQuestionTypes; let i = index">
      <div *ngIf="questionType === 'Single Choice'">
        <app-single-answer [index]="i" [remove]="removeQuestion.bind(this)"></app-single-answer>
      </div>
      <div *ngIf="questionType === 'Multiple Choice'">
        <app-multiple-answer [index]="i" [remove]="removeQuestion.bind(this)"></app-multiple-answer>
      </div>
      <div *ngIf="questionType === 'Open-ended'">
        <app-openended-answer [index]="i" [remove]="removeQuestion.bind(this)"></app-openended-answer>
      </div>
    </div>
    <div #scrollTarget style="height: 1px; margin-top: 20px;"></div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </form>
</div>