<form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
  <!-- Question Input -->
  <div class="form-row">
    <div class="form-group col-md-12">
      <div class="form-group" style="margin-top: 40px;">
        <label for="questionText"  style="margin-bottom: 10px;" >Question:</label>
        <input 
          type="text" 
          id="questionText" 
          formControlName="questionText" 
          class="form-control" 
          placeholder="Type the question here." 
          style="font-size: 1em;" 
        />
      </div>


      <div class="form-row">
        <div class="form-group col-md-12" style="margin-top: 20px;">
          <label for="answer"  style="margin-bottom: 10px;">Answer:</label>
          <textarea 
            formControlName="answer"
            class="form-control"
            id="answer"
            placeholder="Type the answer here."
            style="font-size: 1em;"
          ></textarea>
        </div>
      </div>
    
      <!-- Action Buttons -->
      <div class="form-row">
        <div class="form-group col-md-12">
          <button 
            type="button" 
            class="btn btn-danger" 
            (click)="deleteQuestion()" 
            style="margin: 10px 10px 0 0;">
            Delete Question
          </button >
          <button 
            type="submit" 
            class="btn btn-success" 
            style="margin: 10px 10px 0 0;">
            Save
          </button>
        </div>  
      </div>    
    </div>
  </div>
</form>