<form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
  <!-- Question Input -->
  <div class="form-row">
    <div class="form-group col-md-12">
      <div class="form-group">
        <label for="questionText">Question:</label>
        <input 
          type="text" 
          id="questionText" 
          formControlName="questionText" 
          class="form-control" 
          placeholder="Type the question here." 
          style="font-size: 1em;" 
        />
      </div>


      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="answer">Answer:</label>
          <textarea 
            formControlName="answer"
            class="form-control"
            id="answer"
            placeholder="Type the answer here."
            style="font-size: 1em;"
          ></textarea>
        </div>
      </div>
    
      <!-- Action Buttons -->
      <div class="form-row">
        <div class="form-group col-md-12">
          <button 
            type="button" 
            class="btn btn-danger" 
            (click)="deleteQuestion()" style="margin-right: 10px;">
            Delete Question
          </button>
          <button 
            type="submit" 
            class="btn btn-success">
            Save
          </button>
        </div>  
      </div>    
    </div>
  </div>
</form>

<!-- Scroll Target -->
<div #scrollTarget style="height: 1px; margin-top: 20px;"></div>
