<div class="home-container">
  <div class="main-content">
    <app-navbar></app-navbar>
    <div class="breadcrumb-container" *ngIf="breadcrumb">
      <nav class="breadcrumb">
        <a routerLink="/">Home</a> / <span>{{ breadcrumb }}</span>
      </nav>
    </div>
    <div class="content">
      <div *ngIf="showWelcomeMessage">
        <h4>Welcome to the Survey Application</h4>
      </div>
      <router-outlet></router-outlet>
    </div>
    <!-- News and Announcement Cards -->
    <div *ngIf="isHomePage" class="news-section">
      <div class="news-title">
        <h4>News</h4>
      </div>
      <div class="card-group">
        <div class="card" style="width: 18rem;">
          <img src="./card1.jpg" class="card-img-top" alt="News Image 1">
          <div class="card-body">
            <h5 class="card-title">News Card 1</h5>
            <p class="card-text">This is the content of news card 1.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="./card2.jpg" class="card-img-top" alt="News Image 2">
          <div class="card-body">
            <h5 class="card-title">News Card 2</h5>
            <p class="card-text">This is the content of news card 2.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="./card3.jpg" class="card-img-top" alt="News Image 3">
          <div class="card-body">
            <h5 class="card-title">News Card 3</h5>
            <p class="card-text">This is the content of news card 3.</p>
          </div>
        </div>
      </div>
      <div class="announcement-section">
        <div class="announcement-title">
          <h4>Announcement</h4>
        </div>
        <div class="card-group">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="neu_announcmenet.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="neu_announcmenet.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="neu_announcmenet.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>